# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp

# --- Virtual environment ---
venv/
.env/
.venv/

# --- macOS system files ---
.DS_Store
.AppleDouble
.LSOverride

# --- IDE / editor cache ---
.vscode/
.idea/
*.swp
*.swo

# --- Project specific ---
# Log e dati temporanei
logs/
logs/*.enc
server/received_logs/
tests/__pycache__/

# Chiavi di sicurezza
src/security/secret.key